/* Gridview */

.summary {
    width: 100%;
    text-align: right;
    font-size: 14px;
}


/* CSS PAGINACION GRIDVIEW */

.gridview-pagination {
    height: 36px;
    margin: 18px 0;
    width: 100%;
}
.gridview-pagination ul {
    display: inline-block;
    display: inline;
    zoom: 1;
    margin-left: 0;
    margin-bottom: 0;
    width: 100%;
    float: left;
}
.gridview-pagination li {
    display: inline;
}
.gridview-pagination a,
.gridview-pagination span {
    float: left;
    padding: 0 14px;
    line-height: 26px;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
    border-left-width: 0;
}
.gridview-pagination a:hover,
.gridview-pagination .active a,
.gridview-pagination .active span {
    background-color: #f5f5f5;
}
.gridview-pagination .selected a,
.gridview-pagination .selected span {
    color: #5d6368;
    cursor: default;
    background-color: #EFEFEF;
}
.gridview-pagination .hidden span,
.gridview-pagination .hidden a,
.gridview-pagination .hidden a:hover {
    color: #999;
    background-color: transparent;
    cursor: default;
}
.gridview-pagination li:first-child a,
.gridview-pagination li:first-child span {
    border-left-width: 1px;
    -webkit-border-radius: 3px 0 0 3px;
    -moz-border-radius: 3px 0 0 3px;
    border-radius: 3px 0 0 3px;
}
.gridview-pagination li:last-child a,
.gridview-pagination li:last-child span {
    -webkit-border-radius: 0 3px 3px 0;
    -moz-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;
}
.gridview-pagination-centered ul {
    text-align: center;
}
.gridview-pagination-right ul {
    text-align: right;
}
/*


/* Form */

.required span {
    color: #E20F0F;
}
.errorMessage {
    color: #E20F0F;
}


/* CSS zii.widgets.CMenu  */

.cmenuhorizontal {    
    list-style: none;
    width: auto;
}

.cmenuhorizontal li {
    float: left;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 2px;
    margin-top: 2px;
}   

.cmenuhorizontal {    
    list-style: none;
    width: auto;
}

.cmenuhorizontal li.bottom {
    float: right;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 2px;
    margin-top: 2px;
}  



.menu-tool {
    float: right; 
    position: absolute; 
    top: 8px; 
    right: 100px;
    display: inline-block;
}

.menu-tool .menu-items {
    float: right;
}

.menu-tool .pagesize {
    float: right;

}

.menu-tool-all {
    float: right; 
    position: absolute; 
    top: 8px; 
    right: 20px;
    display: inline-block;  
}



#login-wrapper input {
    padding-left: 32px;
}


.hidden-loading{

    display: none;
}

/*.hidden_fields{

    display: none;

}*/

.title_{
    font-weight: bolder !important;
}

.position_2{
    float: left;


}

.position_1{

    margin-top: 16px;
}

#owl-demo .item{
    margin: 3px;
}
/*#owl-demo .item img{
  display: block;
  width: 100%;
  height: auto;
}*/

* { box-sizing: border-box; }

body { font-family: sans-serif; }

.carousel {
    /*background: #EEE;*/
}

.carousel-cell {
    width: 28%;
    text-align: center;
    height: 100%;
    /*margin-right: 10px;*/
    margin-left: 8%;
    background: #ddd;
    /*    border-radius: 5px;*/
    counter-increment: carousel-cell;
}

.carousel-cell.is-selected {
    background: #777;
}

/* cell number */
.carousel-cell:before {
    display:block;
    text-align: center;
    /*content: counter(carousel-cell);*/
    line-height: 200px;
    font-size: 80px;
    color: #ddd;
}

.flickity-viewport{

    background-color: #ddd !important; 
    height: 250px !important;
}

.imagen_carousel{

    width: 90%;
    height: 90%;
    /* height: 100%;*/
    /*    padding-top: 3%;
        padding-bottom: 3%;*/
    margin-top: 10px;
    /*margin-right: 10px;*/
    /*background: #f5f5f5;*/
    /*border-radius: 5px;*/
    /*    margin-top: 4%;
        margin-left: 5%;*/
}



.btn_right{
    position: fixed;
    right: 5%;
    top: 50%;
}

.btn_left{
    position: fixed;
    top: 50%;
    margin-left: 5%;
    z-index: 9999999999;
}

/* Style the Image Used to Trigger the Modal */
#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
#Modalimagen,.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 10px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: hidden; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.ctn_ .modal-content {
    margin: auto;
    display: block;
    width: 30%;

    margin-top: 11%;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption { 
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 8%;
    right: 4%;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}

.boton_back_ .edit{

    font-size: 15px !important; 
    float: right;
    margin-right: 10px;


}
/*
#registra_orden_{

    display: none;
}*/

.accordion_historia h3{
    border: none;
    border-bottom: 2px solid #eff2f7 !important;
    border-radius: 0px !important;
    border-color: #eff2f7;
    padding-bottom: 3px;
    background-color: white !important;
    background: white;
    margin-top: 2px; 
    font-size: 15px !important;

}

.accordion_historia div{

    border: none;
    font-size: 15px !important;



}


#table_info_ th{
   
    border-top: 0px;  
    line-height: 0.428571;
}

#table_info_ td{
    border-top: 0px;  
    line-height: 0.428571;
}



#table_ordenserv_ th{

    max-width: 17px !important;
    border-top: 0px;  
    line-height: 0.428571;

}

#table_ordenserv_ td{

    border-top: 0px;  
    line-height: 0.428571;

}

.principal_{
    height: 35px;
    padding-top: 15px !important;  

}

.secundarios_{
    padding-left: 32px !important;
    max-width: 100px !important;
    min-width: 100px !important;
    
}

.inicial_{
 max-width: 93px !important;
 min-width: 93px !important;
    
}


/*input, button, select, textarea {
  
    height: 41px;
}*/

#main-content{
        min-height: 400px;
}